.modal-component {
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    // align-items: center;
    align-items: flex-start;
    padding-top: 120px;
    z-index: 1000;
  }
  .modal {
    max-width: 700px;
    width: 80%;
    border-radius: 5px;
    @media (max-width:767px) {
      width: 100%;
    }
  }
}

.modal-page-button {
  font-size: 1.5rem;
  padding: 0.5em 1.5em;
  background: #6622cc;
  border: 1px solid #6622cc;
  color: #fff;
  border-radius: 35px;
  position: fixed;
  top: 100px;
  right: 20px;
}

.modal-content-sample {
    color: black;
    background-color: white;
    max-width: 500px;
    margin: auto;
  .modal-header {
    border-bottom: 1px solid #dedede;
  }
  .modal-title {
    margin: 0;
    font-size: 1.25rem;
    padding: 1rem;
    text-align: left;
  }
  .modal-content {
    text-align: left;
    padding: 1rem;
  }
  .modal-footer {
    padding: 1rem;
    border-top: 1px solid #dedede;
    text-align: right;
  }
  .modal-button {
    font-size: 1rem;
    font-weight: 700;
    color: #f94144;
    background: #fff;
    padding: 0;
    border-radius: 0;
    border: 0;
    margin-right: 1rem;
  }
}
