@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap");
// fonts
$lato: "Lato", sans-serif;

// spaces
$header-heigh: 65px;



// shades friends for my main color dodgerblue
$main: #1E90FF;
$main-1: #0072DD;
$main-2: #0056BB;
$main-3: #003C9A;
$main-4: #00247B;

// color
$color-main: #71c6dd;
$color-main-light: #e1f6fb;
$color-dark: #3f4156;
$color-dark-medium: #51546e;
$color-dark-light: #696d97;
$color-light: #e5e5e5;
$color-gray: #8b8b8b;
$color-light-gray: #b2bdbd;
$color-bg: #2d2d39;
$color-success: #5dd693;
$color-error: #fc4b0b;